    .myDiv {
        border: 2px outset forestgreen;
        margin: 5px;
        /* background-color: lightblue; */
        text-align: center;
        /* height:20px; */
    }
    
    .container {
        padding-left: 5%;
        padding-right: 5%;
        /* border: 2px outset forestgreen; */
    }

    .active{
        color:blueviolet;
        font-weight: bold;
        /* text-decoration: underline; */
    }

    .title{
        text-align: center;
        color: "blue";
        margin-top:2px;
        margin-bottom:2px;
    }

    .map{
        padding-left: 5%;
        padding-right: 5%;
        border: 2px outset forestgreen;
        height: 700px;
        width:700px;
    }

    .footer{
        margin-top:5%;
        padding:5%;
        background-color:grey;
        color:white;
    }